NODE_ENV=development

# Required
DATABASE_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VITE_APP_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_PRICE_ID=

# Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Email
RESEND_API_KEY=
RESEND_FROM=

# Analytics
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=

# Error tracking
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
VITE_SENTRY_DSN=
